/firstSwing/nbproject/private/
/firstSwing/build/
/anisulHeq/nbproject/private/
/anisulHeq/build/
/anisulHeq/dist/
/studentResult/nbproject/private/
/studentResult/build/
/studentResult/dist/
/MIM/nbproject/private/
/ssbbss/nbproject/private/
/ssbbss/build/
/Test/nbproject/private/
/Test/build/